*{
    padding: 0;
    margin: 0;
}

.body{
    background: url(./bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
#scoreBox{
    color: rgb(121, 120, 221);
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
}
#board{
    background: linear-gradient(rgb(155, 224, 155),rgb(224, 159, 159));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid white;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    
}
.head{
    background: linear-gradient(red, yellow);
    border: 2px purple;
    transform: scale(1.02);
    border-radius: 6px;
    
}
.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
 
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
   
}